{% extends 'layout.html' %}

{% block content %}
<div class="auth-frame">
    <div class="logo-frame">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67 67" role="img" aria-label="Hanzo Insights">
            <style>path{fill:#000}@media (prefers-color-scheme:dark){path{fill:#fff}}</style>
            <path d="M22.21 67V44.6369H0V67H22.21Z"/>
            <path d="M66.7038 22.3184H22.2534L0.0878906 44.6367H44.4634L66.7038 22.3184Z"/>
            <path d="M22.21 0H0V22.3184H22.21V0Z"/>
            <path d="M66.7198 0H44.5098V22.3184H66.7198V0Z"/>
            <path d="M66.7198 67V44.6369H44.5098V67H66.7198Z"/>
        </svg>
    </div>

    <form class="form-signin" method="post" action="/login">
        <h2>Toolbar authorization</h2>
        <p>Do you want to give the Insights Toolbar access to your Insights data on <strong style="word-wrap: break-word;">{{ redirect_url }}</strong>?
        </p>
        <p>With the Toolbar, you can:</p>
        <ul>
            <li>See heatmaps</li>
            <li>Create and edit actions</li>
            <li>Toggle feature flags</li>
        </ul>

        <a href="{{ authorization_url }}" class="button">
            <span>
                Authorize
                <strong>{{ domain }}</strong>
            </span>
        </a>
    </form>
</div>
{% endblock %}
