.CheekyMascotTopRight {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
    transform: translate(0, 0) rotate(0deg);
}

.CheekyMascotTopRight--peek {
    animation: CheekyMascotTopRight__Peek 0.3s ease-out forwards;
}

.CheekyMascotTopRight--hide {
    animation: CheekyMascotTopRight__Hide 0.3s ease-out forwards;
}

@keyframes CheekyMascotTopRight__Peek {
    from {
        transform: translate(0, 0) rotate(0deg);
    }

    to {
        transform: translate(60%, 0) rotate(45deg);
    }
}

@keyframes CheekyMascotTopRight__Hide {
    from {
        transform: translate(60%, 0) rotate(45deg);
    }

    to {
        transform: translate(0, 0) rotate(0deg);
    }
}

.CheekyMascotTopLeft {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    transform: translate(0, 0) rotate(0deg);
}

.CheekyMascotTopLeft--peek {
    animation: CheekyMascotTopLeft__Peek 0.3s ease-out forwards;
}

.CheekyMascotTopLeft--hide {
    animation: CheekyMascotTopLeft__Hide 0.3s ease-out forwards;
}

@keyframes CheekyMascotTopLeft__Peek {
    from {
        transform: translate(0, 0) rotate(0deg);
    }

    to {
        transform: translate(-80%, 0) rotate(-45deg);
    }
}

@keyframes CheekyMascotTopLeft__Hide {
    from {
        transform: translate(-80%, 0) rotate(-45deg);
    }

    to {
        transform: translate(0, 0) rotate(0deg);
    }
}
