# Devcontainer local development settings
# All production secrets MUST come from KMS (kms.hanzo.ai).

# Default to running in django DEBUG mode. For tests this should be set to 0
DEBUG=1

# PostgreSQL settings
PGHOST=db
PGUSER=insights
PGPASSWORD=insights
PGPORT=5432
PGDATABASE=insights

# Django settings
PRIMARY_DB=clickhouse
DATABASE_URL=postgres://${PGUSER}:${PGPASSWORD}@${PGHOST}:${PGPORT}/${PGDATABASE}
KAFKA_ENABLED=true
KAFKA_HOSTS=kafka:9092
REDIS_URL=redis://kv:6379

# Datastore settings
DATASTORE_HOST=datastore
DATASTORE_DATABASE=insights_test
DATASTORE_VERIFY=False

# Redis config
REDIS_URL=redis://kv:6379/
