.UnsubscribeSurveyCostControl {
    .CollapsePanel__header {
        padding: 0 !important;
        background: var(--color-bg-primary);
    }

    .Button__chrome {
        padding: 0 !important;
    }
}
