<!doctype html>
<html lang="en">
    <head>
        {% include "head.html" %}
    </head>
    <body>
        {% include "overlays.html" %}
        <script nonce="{{ request.csp_nonce }}">
            const tags = [
                '{% if debug %}DEBUG mode{% elif region %}Region: {{ region }}{% else %}Self-hosted{% endif %}',
                '{% if debug %}Branch: {{ git_branch|default:"unknown" }}{% else %}Commit: {{ git_rev|default:"unknown" }}{% endif %}',
                'hanzo.ai/insights',
            ]
            console.info(
                `%c %cInsights %c— %cAnalytics & Observability\n%c${tags.join('%c %c')}`,
                `padding-left: 2.5em; line-height: 4em; background-size: 2.5em; background-repeat: no-repeat; background-position: left center; background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='6' fill='%23000'/%3E%3Cpath d='M8 8h4v6.5h8V8h4v16h-4v-6.5H12V24H8V8z' fill='%23fff'/%3E%3C/svg%3E");`,
                'font-weight: bold;',
                '',
                'font-style: italic;',
                'padding: 0.2em 0.4em; border-radius: 0.5em; background: #000; color: white;',
                'padding-bottom: 0.4em;',
                'padding: 0.2em 0.4em; border-radius: 0.5em; background: #333; color: white;',
                '',
                'padding: 0.2em 0.4em; border-radius: 0.5em; background: #555; color: white;'
            )
            if (!('entries' in Object) || !('fromEntries' in Object) || !('flatMap' in Array.prototype)) {
                var div = document.createElement('div')
                div.style.color = '#fef6f6'
                div.style.background = '#920c0c'
                div.style.padding = '5px 10px'
                div.innerHTML = 'You are using a really old browser. Please upgrade to fully enjoy Insights!'
                document.body.prepend(div)
            }
        </script>
        <div id="root"></div>
    </body>
</html>
