.FunnelCorrelationTable {
    .table-options {
        .Checkbox:not(:last-child) label {
            border-right: none;
            border-radius: var(--radius) 0 0 var(--radius);
        }

        .Checkbox:last-child label {
            border-radius: 0 var(--radius) var(--radius) 0;
        }
    }
}
